/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ArnaudBelcour/tabigecy Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

params.manifest = manifest

manifest {
    contributors = [ [
            "name": "Arnaud Belcour",
            "affiliation": "Inria",
            "contribution": ["createdBy", "curatedBy"],
            "orcid": "https://orcid.org/0000-0003-1170-0785"
        ], ]
    version = "0.1.0"
    mainScript = "tabigecy.nf"
    homePage = "https://github.com/ArnaudBelcour/tabigecy"
    description = """From taxonomic affiliations, predict the functions of major biogeochemical cycles for the different taxon using EsMeCaTa and bigecyhmm."""
}
